
<div class="ppppoooorudzbina">
    <p><%= data.ime %></p>
    <p><%= data.prezime %></p>
    <p><%= data.telefon %></p>
    <p><%= data.grad %></p>
    <p><%= data.mesto %></p>
    <p><%= data.ulica %></p>
    <p><%= data.postanski %></p>
    <p><%= data.klima %></p>
    <p><%= data.createdAt.toDateString() %></p>
</div>